* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  display: flex;
  border: solid 2px;
  height: 30px;
  width: 110px;
  padding: 10px;
  display: flex;
  color: #0a314b;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #114c72;
  color: #fff;
}

.box :hover{
  background-color:#185680;

}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #f4f6f8;
  margin: 0;
  padding: 0px 0px;
  color: #333;
}

#pai {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a314b;
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 30px;
  box-shadow: 0px 0px 10px rgb(92, 89, 89);
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 35px;
  margin-bottom: 30px;
  width: 100%;
}

form {
  display: flex;
  justify-content: center;
}

.borda {
  border: none;
  border-radius: 16px;
  width: 350px;
  background-color: #ffffff;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.campo {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
}

input {
  border: solid 1px;
  border-radius: 10px;
  padding: 15px 15px;
  font-size: 14px;
}

select {
  border: solid 1px;
  border-radius: 10px;
  padding: 15px 15px;
  font-size: 14px;
}

label {
  font-weight: 600;
  font-size: 14px;
  color: #2c3e50;
  margin-top: 10px;
}

input[type="submit"],
button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background-color: #3498db;
  color: #ffffff;
  border: none;
  padding: 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

input[type="submit"]:hover,
button:hover {
  background-color: #1976b4;
}

.mensagem {
  max-width: 400px;
  margin: 60px auto;
  text-align: center;
  background-color: #fff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}
